/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0px;
    cursor: pointer;
}
.items{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 70%;
    /* background-color:coral; */
}
.items li{
    list-style: none;
    padding: 20px;

}
.items li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.items li a:hover{
    
    color: black;
}

.right-nav{
    /* background-color: burlywood; */
    width: 50%;
    text-align: right;
    padding: 0px 20px;
}





.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
    border-radius: 50px;
    border: 2px solid white;
    margin: 5px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border-radius: 20px;
    margin: 14px;
}

.background{
    background: rgb(0,0,0,0.7) url(../images/background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}
.fhalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 30%;
}

.secondhalf img{
    /* padding: 2px 0px; */
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
    height: 150px;

}

.text-big{
    font-size: 38px;
}

.text-small{
    font-size: 20px;
}

.btn{
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 7px 2px;
    /* font-size: 15px; */
    cursor: pointer;
    background: none;
    color: white;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 92%;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}
.paras{
    padding: 15px 4px;
}

.imgfluid{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    margin-top: 5px;
}

.left{
    flex-direction: row-reverse;
}

.sectionsubtag{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.contact{
    background: cornsilk;
    /* height: 94vh; */
}

.text-center{
    text-align: center;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

.form{
    max-width: 65%;
    margin: 10px auto;
}

.form-input{
    width: 100%;
    padding: 5px 2px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 15px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.btn-dark{
    color: black;
    border: 2px solid grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-footer{
    text-align: center;
    padding: 15px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: white;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}

@media only screen and (max-width: 960px){
    .items{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .right-nav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction:column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px 0px;
    }
    .text-big{
        font-size: 30px;
    }
    
    .text-small{
        font-size: 15px;
    }
}